<!-- nav bar -->
<nav id="nav-bar">
  <h3>Hello, <%=user.firstname%></h3>
  <a href="/logout" class="log-out-btn">logout</a>
</nav>

<!-- form for image upload -->
<div class="upload-section">
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" class="upload">
    <button class="btn upload-btn" type="submit">Upload Photo!!!</button>
  </form>
</div>
 <%- include('./partials/messages')%>
<div class="image-container">
 <!-- images goes here !!! -->
<%user.images.forEach(function(image){%>
  <div class="imageBox"> 
     <img src="../imageUploads/<%=image%>" alt="<%=image%>"/>
  </div>
<%})%>
</div>