<!-- nav bar -->
<nav id="nav-bar">
  <h3>hello,user</h3>
  <a href="/logout" class="log-out-btn">logout</a>
</nav>

<!-- form for image upload -->
<div class="upload-section">
  <form action="/upload" method="POST">
    <input type="file" name="upload" class="upload">
    <button class="btn upload-btn" type="submit">Upload Photo!!!</button>
  </form>
</div>

<div class="image-container">
 <!-- images goes here !!! -->
</div>