<nav id="nav-bar">
  <div>
     <h2 class="brand-name">Photobook</h2>
  </div>
  <div>
     <ul class="menu">
        <li class="menu-item">
          <a href="/login" class="menu-link">Login</a>
        </li>
        <li class="menu-item">
          <a href="/reg" class="menu-link">Register</a>
        </li>
     </ul>
  </div>
</nav>

<header id="header-container">
   <div class="showcase">
     <div class="showcase-contents">
       <h1>Photobook</h1>
       <p>Store your memoriable photos on Photobook, keep the memories fresh!!!</p>
       <a class="action-btn" href="/login">View Gallery</a>
     </div>
   </div>
</header>